body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

h1 {
    color: #007acc;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
 .shadow-img { 
    align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  border-radius: 8px; 
}
